* { box-sizing: border-box;}

body {
    margin: 0;
    background-color: #EBEDEF;
    height: 100%;
}

html {
    height: 100%;
}

nav{
    overflow: hidden;
    background-color: #125583;
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 1;
}
nav a { line-height: 80px;}

nav a {
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    transition: font-size .5s linear;
}
nav a:hover { background-color: #cccccc; color: #125583;}
nav a.active { font-weight: bold; background-color: #60b8d4;}

.logo {
    height: 70px;
    width: 70px;
    margin: 5px 20px;
}

#title { font-weight: bold; font-family: American Typewriter, serif; margin: 15px;}

main {
    min-height: calc(100% - 80px - 220px);  /* height of body - height of nav - height of footer */
}

button {
    text-transform: uppercase;
    background: #ccc;
    border-radius: 1px;
    border: 1px solid #ccc;
    padding: 12px 40px;
    color: white;
    cursor: pointer;
}

button:hover, button:active, button:focus {
    background: #125583;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 35px 60px;
    background-color: white;
    text-align: center;
    color: #125583;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}
footer a { color: #125583;}

/* Style for smaller screens (less than 800px wide) */
@media screen and (max-width: 1000px) {
    /* Hide the text on the navbar */
    nav a{ font-size: 0;}
    /* Display only the icons on the navbar */
    nav .icons { font-size: 30px;}
    nav .icons { line-height: 80px;}
}