.clases-data {
    padding: 0 50px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

th{
    background-color: #125583;
    color: white;
    text-transform: uppercase;
}

td, th {
    padding: 15px 10px;
    border: 1px solid #ddd;
    font-size: 0.9em;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

table a { color: #083b5f;}
table a:hover { text-decoration: underline;}

.form-oferta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form-oferta span {
    margin-block-end: 10px;
}