* {box-sizing: border-box}

body {
    min-height: 100vh;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    font-size: 12px;
}

#image_background {
    background: url("../img/form.png") no-repeat center;
    background-size: cover;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #125583;
}
a:hover { text-decoration: underline;}

#switchForm p { margin: 0;}

h1  {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 10px;
    text-transform: uppercase;
}
.logo { width: 35%;}

#register_form.logo { width: 30%}

.center {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.center input {
    width: 90%;
    padding: 13px;
    margin: 5px;
    border-radius: 1px;
    border: 1px solid #ccc;
}

#register_form input, select {
    width: 80%;
    padding: 10px;
    font-size: 0.9em;
    margin: 5px;
    border-radius: 1px;
    border: 1px solid #ccc;
}

#register_form button {
    padding: 12px 30px;
}

.error_message { color: #CA202A; font-weight: bold;}
.ok_message { color: darkgreen;}
.info_message { color: dimgray; font-size: 0.7em; margin-left: 10%; margin-right: 10%;}

button {
    text-transform: uppercase;
    background: #1A6AA0;
    border-radius: 1px;
    border: 50px solid #1A6AA0;
    padding: 12px 40px;
    color: white;
    cursor: pointer;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

button:hover, button:active, button:focus {
    background: #125583;
}