* {box-sizing: border-box}

body {
    min-height: 100vh;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    font-size: 12px;
}

#image_background {
    background: url("../img/colores.png") no-repeat center;
    background-size: cover;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #125583;
}
a:hover { text-decoration: underline;}

#switchForm p { margin: 0;}

h1  {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 10px;
    text-transform: uppercase;
}
.logo { width: 35%;}

.center {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.center input {
    width: 90%;
    padding: 13px;
    margin: 5px;
    border-radius: 1px;
    border: 1px solid #ccc;
}

form#register_form {
    margin-top: 90px;
}
form#register_form input {
    width: 70%;
    padding: 8px;
}

.error_message { color: #CA202A;}
.ok_message { color: darkgreen;}

button {
    text-transform: uppercase;
    background: #1A6AA0;
    border-radius: 1px;
    border: 1px solid #1A6AA0;
    padding: 12px 40px;
    color: white;
    cursor: pointer;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

button:hover, button:active, button:focus {
    background: #125583;
}