.star-container{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

.star-container .star-widget input{
    display: none;
}

.star-widget label{
    color: #444;
    padding: 2px;
    float: right;
    transition: all 0.1s ease;
}

input:checked ~ label{ color: orange;}
.star-widget .checked { color: orange;}
  