<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" style="font-size: 16px;">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Header</title>
  <link rel="stylesheet" th:href="@{/css/nicepage.css}" media="screen">
  <script class="u-script" type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}" defer=""></script>
  <script class="u-script" type="text/javascript" th:src="@{/js/nicepage.js}" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Archivo+Black:400|Gravitas+One:400">
</head>
<body>
<header th:fragment="header" class="u-clearfix u-header u-sticky u-white u-header" id="sec-85c8">
  <div class="u-clearfix u-sheet u-sheet-1">
    <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="XL">
      <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0; font-weight: 500;">
        <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-color u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-palette-1-light-1" href="#" style="background-image: none;">
          <svg><use sec:authorize="isAuthenticated()" xlink:href="#menu-hamburger"></use></svg>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect></symbol></defs></svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
          <li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" th:href="@{/home}" style="padding: 10px 20px;">Home</a></li>
          <li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" th:href="@{/user/perfil}" style="padding: 10px 20px;">Mi Perfil</a></li>
          <li th:if="${vistaProf}" class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" th:href="@{/clases/misAnuncios}" style="padding: 10px 20px;">Mis Anuncios</a></li>
          <li th:unless="${vistaProf}" class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" th:href="@{/clases/viewAll}" style="padding: 10px 20px;">Buscar Clases</a></li>
          <li th:if="${vistaProf}" class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" th:href="@{/clases/misOfertasSolicitadas}" style="padding: 10px 20px;">Mis Alumnos</a></li>
          <li th:unless="${vistaProf}" class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" th:href="@{/clases/misSolicitudes}" style="padding: 10px 20px;">Mis Profesores</a></li>
        </ul>
      </div>
      <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-container-style u-inner-container-layout u-palette-1-light-1 u-sidenav u-sidenav-1" data-offcanvas-width="218">
          <div class="u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-spacing-40 u-text-active-grey-75 u-text-hover-palette-1-dark-2 u-unstyled u-nav-2">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" th:href="@{/home}" style="padding: 10px 20px;">Home</a></li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" th:href="@{/user/perfil}" style="padding: 10px 20px;">Mi Perfil</a></li>
              <li th:if="${vistaProf}" class="u-nav-item"><a class="u-button-style u-nav-link" th:href="@{/clases/misAnuncios}" style="padding: 10px 20px;">Mis Anuncios</a></li>
              <li th:unless="${vistaProf}" class="u-nav-item"><a class="u-button-style u-nav-link" th:href="@{/clases/viewAll}" style="padding: 10px 20px;">Buscar Clases</a></li>
              <li th:if="${vistaProf}" class="u-nav-item"><a class="u-button-style u-nav-link" th:href="@{/clases/misOfertasSolicitadas}" style="padding: 10px 20px;">Mis Alumnos</a></li>
              <li th:unless="${vistaProf}"class="u-nav-item"><a class="u-button-style u-nav-link" th:href="@{/clases/misSolicitudes}" style="padding: 10px 20px;">Mis Profesores</a></li>
            </ul>
          </div>
          <div th:if="${vistaProf}"class="u-image u-image-circle u-image-1" id="imagen-profesor" data-image-width="692" data-image-height="689"></div>
          <div th:unless="${vistaProf}" class="u-image u-image-circle u-image-1" id="imagen-estudiante" data-image-width="692" data-image-height="689"></div>
        </div>
        <div class="u-menu-overlay"></div>
      </div>
    </nav>
    <a sec:authorize="isAuthenticated()" th:href="@{/cambiarVista}" class="u-active-palette-1-light-2 u-border-2 u-border-palette-1-light-1 u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-radius-50 u-text-active-white u-text-hover-white u-text-palette-1-light-1 u-white u-btn-1">CAMBIAR VISTA<br></a>
    <div class="u-image u-image-circle u-image-2" data-image-width="692" data-image-height="689"></div>
    <form style="margin-left:50%; margin-right: 25%; margin-top: 2px" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
      <button type="submit" class="u-active-palette-1-light-2 u-border-2 u-border-palette-1-light-1 u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-light-1 u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2">CERRAR SESIÓN</button>
    </form>
  </div>
</header>
</body>
</html>