<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>aprobadas - Clases</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/templates.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/clases.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section th:insert="base"></section>
<main>
    <article class="cover home-cover"></article>
    <article class="data clases-data">
        <h1>Clases</h1>
        <p th:if="${msg}" class="error_message">No existe ninguna oferta de clase para tu grado.</p>
        <table class="clases" th:unless="${msg}">
            <tr>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Asignatura</th>
                <th>Profesor</th>
                <th>Solicitar</th>
            </tr>
            <tr th:each="clase : ${clases}">
                <td th:text="${clase.descripcion}"></td>
                <td th:text="${clase.precio + ' €'}"></td>
                <td th:text="${clase.asignatura.nombre}"></td>
                <td th:text="${clase.profesor.nombre + ' ' + clase.profesor.apellido}"></td>
                <td><a th:href="@{/clases/solicitarClase/{id}(id = ${clase.id})}">Solicitar</a></td>
            </tr>
        </table>
    </article>
</main>
</body>
</html>