<!DOCTYPE html>
<html lang="es" style="font-size: 16px;" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Clases</title>
  <link rel="stylesheet" th:href="@{/css/nicepage.css}" media="screen">
  <link rel="stylesheet" th:href="@{/css/clases.css}" media="screen">
  <link rel="stylesheet" th:href="@{/css/star_widget.css}" media="screen">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script class="u-script" type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
  <script class="u-script" type="text/javascript" th:src="@{/js/nicepage.js}"></script>
  <script class="u-script" type="text/javascript" th:src="@{/js/clases.js}"></script>
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Archivo+Black:400|Gravitas+One:400">
</head>

<body class="u-body">
<header th:replace="fragments/header :: header"></header>

<!--- TITULO --->
<section class="u-align-center u-clearfix u-palette-1-light-1 u-section-1" id="sec-1e1b">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-text u-text-body-alt-color u-text-1">OFERTAS DE CLASES</h1>
  </div>
</section>

<section class="u-align-center u-clearfix u-image u-shading u-section-2" id="carousel_2dd3" data-image-width="729" data-image-height="1080">
  <div class="u-clearfix u-sheet u-sheet-1">

    <div class="u-container-style u-expanded-width u-group u-opacity u-opacity-35 u-radius-50 u-shape-round u-white u-group-1">
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <div class="u-form u-form-1">
          <form onsubmit="filterOfertas()" class="u-clearfix u-form-custom-backend u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px;">
            <input type="hidden" id="siteId" name="siteId" value="358809">
            <input type="hidden" id="pageId" name="pageId" value="366491">
            <div class="u-form-group u-form-select u-form-group-1">
              <label for="select-197f" class="u-form-control-hidden u-label">Seleccionar</label>
              <div class="u-form-select-wrapper">
                <select id="select-197f" name="curso" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-1">
                  <option value="" selected disabled hidden>- Seleccione un curso -</option>
                  <option value="1">Primer curso</option>
                  <option value="2">Segundo curso</option>
                  <option value="3">Tercer curso</option>
                  <option value="4">Cuarto curso</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1.1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>
            <div class="u-form-group u-form-select u-form-group-2">
              <label for="select-636b" class="u-form-control-hidden u-label"></label>
              <div class="u-form-select-wrapper">
                <select id="select-636b" name="asignatura" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-2">
                  <option value="" selected disabled hidden>- Seleccione una asignatura -</option>
                  <option th:each="nombreAsignatura : ${asignaturas}"
                          th:value="${nombreAsignatura}"
                          th:text="${nombreAsignatura}">
                  </option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1.1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>
            <div class="u-form-group u-form-submit">
              <a class="u-active-palette-1-dark-1 u-border-2 u-border-palette-1-light-1 u-btn u-btn-round u-btn-submit u-button-style u-grey-5 u-hover-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-text-palette-1-base u-btn-1">FILTRAR<br></a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--- LISTADO CLASES --->
    <div class="u-expanded-width u-list u-list-1">
      <div id="desplegable-ofertas" class="u-repeater u-repeater-1">
        <div th:each="clase : ${clases}" th:id="'oferta-'+${clase.id}" class="u-align-center u-container-style u-list-item u-radius-7 u-repeater-item u-shape-round u-white u-list-item-1 clase-oferta">
          <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2">
            <h4 class="u-custom-font u-font-montserrat u-text u-text-palette-1-dark-1 u-text-1 clase-nombre-asignatura" th:text="${clase.asignatura.nombre}"><br></h4>
            <img th:if="${clase.asignatura.grado.nombre} == 'Grado en Ingeniería en Tecnología Industrial'" alt="" class="u-expanded-width u-image u-image-default u-image-1" th:src="@{/img/industrial.jpg}" data-image-width="600" data-image-height="400">
            <img th:unless="${clase.asignatura.grado.nombre} == 'Grado en Ingeniería en Tecnología Industrial'" alt="" class="u-expanded-width u-image u-image-default u-image-1" th:src="@{/img/teleco.jpg}" data-image-width="600" data-image-height="400">
            <p class="u-text u-text-2" style="text-transform: uppercase;" th:text="${clase.asignatura.grado.nombre}"></p>
            <p class="u-text u-text-3"><span style="font-weight: bold">Curso: &nbsp;</span><span class="clase-curso-asignatura" th:text="${clase.asignatura.curso} + 'º'"></span><br></p>
            <p class="u-text u-text-4"><span style="font-weight: bold">Profesor/a: &nbsp;</span><a class="link-perfil" th:href="@{/user/perfilUser/{id}(id = ${clase.profesor.id})}"><span style="font-weight: normal" th:text="${clase.profesor.nombre} + ' ' + ${clase.profesor.apellido}"></span></a></p>
            <div class="container">
              <div class="star-widget">
                <span th:class="${clase.asignatura.curso} < 1 ? 'fa fa-star' : 'fa fa-star checked'"></span>
                <span th:class="${clase.asignatura.curso} < 2 ? 'fa fa-star' : 'fa fa-star checked'"></span>
                <span th:class="${clase.asignatura.curso} < 3 ? 'fa fa-star' : 'fa fa-star checked'"></span>
                <span th:class="${clase.asignatura.curso} < 4 ? 'fa fa-star' : 'fa fa-star checked'"></span>
                <span th:class="${clase.asignatura.curso} < 5 ? 'fa fa-star' : 'fa fa-star checked'"></span>
              </div>
            </div>
            <a th:href="@{/clases/solicitarClase/{id}(id = ${clase.id})}" class="u-active-palette-1-dark-1 u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-light-1 u-radius-50 u-btn-2">Solicitar</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>