<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>aprobadas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/effects.css}">
</head>
<body>
<main>
    <section class="top"></section>
    <section class="bottom"></section>
    <section class="center" class="code_form">
        <form class="code_form" method="post" th:action="@{/form/checkCode}" th:object="${user}" >
            <h1><img class="logo" th:src="@{/img/logo.png}" alt="Logo"></h1>
            <input type="email" th:field="*{email}" th:value="${user.email}" required/>
            <input id="codigo" type="number" placeholder="Código: XXXXXX" th:field="*{code}" required/>
            <p th:if="${codeError}" class="error_message">Código incorrecto.</p>
            <p><button id="code_button" type="submit">Enviar</button></p>
        </form>
    </section>
</main>
</body>
</html>