<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>aprobadas</title>
    <link rel="stylesheet" type="text/css" href="css/formulario.css">
</head>
<body>
<main>
    <section class="top"></section>
    <section class="bottom"></section>
    <section class="center">
        <form id="codigo_form" method="post" th:action="@{/comprobarCodigo}" th:object="${usuario}" >
            <h1><img class="logo" src="img/logo.png" alt="Logo"></h1>
            <input type="email" th:field="*{email}" th:value="${email}"/>
            <input id="codigo" type="number" placeholder="Código: XXXXXX" th:field="*{codigo}" required/>
            <p><button id="email_button" type="submit">Enviar</button></p>
        </form>
    </section>
</main>
</body>
</html>