<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>aprobadas - User Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/templates.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section th:insert="base"></section>
<main>
    <article class="cover profile-cover"></article>
    <article class="data">
        <form class="profile-form flex-column-center shadow" method="post" th:action="@{/updateUser}" th:object="${user}">
            <h2>Aquí puedes editar tus datos</h2>
            <div class="form-name-surname">
                <input class="form-control" type="text" name="nombre" th:field="*{nombre}" th:value="${user.nombre}"  required/>
                <input class="form-control" type="text" name="apellido" th:field="*{apellido}" th:value="${user.apellido}"  required/>
            </div>
            <div class="form-data flex-column-center">
                <input class="form-control" type="email" name="email" th:field="*{email}" th:value="${user.email}" required>
                <input class="form-control" type="text" name="tlf" th:field="*{tlf}" th:value="${user.tlf}" required/>
                <select name="grado" id="grado" th:field="*{grado}">
                    <option th:each="grado : ${grados}"
                            th:value="${grado.id}"
                            th:text="${grado.nombre}">
                    </option>
                </select>
            </div>
            <button id="save_button" type="submit">Guardar Datos</button>
        </form>
    </article>
</main>
</body>
</html>