<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>aprobadas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
</head>
<body id="email_form_body">
<main>
    <script src="js/form.js"></script>
    <section class="center">
        <form id="email_form" method="post" th:action="@{/enviarCodigo}" th:object="${usuario}" onsubmit="return validateEmail()">
            <h1><img class="logo" src="img/logo.png" alt="Logo"></h1>
            <input id="reg_email" type="email" placeholder="email@ikasle.ehu.eus" th:field="*{email}" required/>
            <p th:if="${emailError}" class="error_message">Ya existe un usuario con este email.</p>
            <p><button id="email_button" type="submit">Registrarse</button></p>
            <a id="switchForm" th:href="@{/login}">
                <p>¿Ya tienes una cuenta?<br>Inicia sesión</p>
            </a>
        </form>
    </section>
</main>
</body>
</html>