<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" style="font-size: 16px;">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/nicepage.css}" media="screen">
  <link rel="stylesheet" th:href="@{/css/home.css}" media="screen">
  <script class="u-script" type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}" defer=""></script>
  <script class="u-script" type="text/javascript" th:src="@{/js/nicepage.js}" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Archivo+Black:400|Gravitas+One:400">
</head>

<body class="u-body">
<header th:replace="fragments/header :: header"></header>

<section class="u-clearfix u-palette-1-light-1 u-valign-middle u-section-1" id="sec-832e">
  <div class="u-clearfix u-layout-wrap u-palette-1-light-1 u-layout-wrap-1">
    <div class="u-gutter-0 u-layout">
      <div class="u-layout-row">
        <div class="u-align-left u-container-style u-layout-cell u-palette-1-light-1 u-size-29 u-layout-cell-1">
          <div class="u-container-layout u-container-layout-1">
            <h5 class="u-custom-font u-font-pt-sans u-text u-text-1">Se acabaron los suspensos</h5>
            <h1 class="u-text u-text-2">Empieza  <span style="font-weight: 700;">YA</span>
              <br>
            </h1>
            <p class="u-text u-text-3">Una página web de clases particulares, dentro del entorno de la Escuela de Ingeniería de Bilbao, que hace de puente entre el alumnado que requiere apoyo en determinadas asignaturas y el alumnado que está interesado en utilizar su tiempo libre en transmitir los conocimientos que va adquiriendo a lo largo del estudio de su Grado.</p>
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="u-active-palette-1-light-3 u-btn u-btn-round u-button-style u-custom-font u-font-pt-sans u-hover-palette-1-dark-1 u-radius-50 u-text-black u-text-hover-white u-white u-btn-1">INICIAR SESIÓN</a>
          </div>
        </div>
        <div class="u-align-right u-container-style u-layout-cell u-palette-1-light-1 u-size-31 u-layout-cell-2">
          <div class="u-container-layout u-container-layout-2">
            <div class="u-image u-image-circle u-image-1" data-image-width="692" data-image-height="689"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-2" id="carousel_f056">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <h2 class="u-align-left u-text u-text-1">
                <span style="font-weight: 700;">“Hoy por ti,</span>
                <br>mañana por mí.”
              </h2>
              <p class="u-align-justify u-text u-text-2">Históricamente, la Escuela de Ingeniería de Bilbao (EIB) se ha caracterizado por la dureza de sus Grados. Esto conlleva un alto índice de suspensos y no presentados que, aunque hasta determinado punto ayuda a dotar a la Escuela de cierto renombre, puede llegar a frustrar a sus estudiantes. Las soluciones que encuentran a su frustración se limitan a las poco asequibles academias y aún más inasumibles clases particulares, que no siempre les aportan los resultados esperados en relación con el esfuerzo económico que les supone recurrir a ellas.
                De forma paralela, un elevado porcentaje del alumnado emplea parte de su tiempo libre en ejercer como profesorado particular de niveles de enseñanza inferiores (Primaria, ESO, Bachillerato…). Lo cual demuestra que la mayoría tiene experiencia dando clases y que es algo que está dispuesta a hacer si se encuentra en las condiciones adecuadas.</p>
            </div>
          </div>
          <div class="u-align-justify u-container-style u-layout-cell u-size-30 u-layout-cell-2">
            <div class="u-container-layout u-valign-bottom u-container-layout-2">
              <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1">
                <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 50" style=""><use xlink:href="#svg-1a12"></use></svg>
              </div>
              <p class="u-text u-text-3">Esta plataforma ayudará a tejer una red de alumnado que conseguirá que éste se haga más fuerte en sus carencias técnicas individuales, llegando esto a reflejarse en la mejora de resultados generales obtenidos. La EIB podrá presumir de un alumnado ampliamente preparado y competente en todas sus facetas técnicas, así como capaz de compartir sus fortalezas y admitir sus debilidades en determinado momento, lo que formará profesionales de calidad y con una aptitud más que notable para su futura vida laboral, que en la mayoría de ocasiones se desarrolla en equipos de proyecto, en los que tendrán que hacer uso de todo lo aprendido, tanto a nivel técnico como personal, en su carrera académica.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="u-align-center u-clearfix u-section-3" id="carousel_1c1c">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-shape u-shape-svg u-text-palette-1-light-1 u-shape-1">
      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 80" style=""><use xlink:href="#svg-0b7f"></use></svg>
      <svg class="u-svg-content" viewBox="0 0 160 80" x="0px" y="0px" id="svg-0b7f" style="enable-background:new 0 0 160 80;"><path d="M160,0H0c0,44.2,35.8,80,80,80S160,44.2,160,0z"></path></svg>
    </div>
    <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1">Enseñar y Aprender</h1>
    <p class="u-align-center u-text u-text-body-alt-color u-text-2">Aprobadas es mucho más que aprobar.</p>
    <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <div class="u-align-center u-container-style u-group u-palette-1-base u-radius-50 u-shape-round u-group-1">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-3">01</h2>
              </div>
            </div>
            <h5 class="u-text u-text-4">Estudiantes</h5>
            <p class="u-text u-text-5">Encuentra profesor para esa asignatura que te está costando.</p>
            <a sec:authorize="isAuthenticated()" th:href="@{/clases/viewAll}" class="u-active-none u-border-2 u-border-active-palette-1-dark-3 u-border-hover-palette-1-dark-2 u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-active-palette-5-dark-2 u-text-hover-palette-1-dark-1 u-text-palette-1-base u-btn-1">Buscar clases</a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-2">
          <div class="u-container-layout u-similar-container u-container-layout-3">
            <div class="u-align-center u-container-style u-group u-palette-1-base u-radius-50 u-shape-round u-group-2">
              <div class="u-container-layout u-valign-middle u-container-layout-4">
                <h2 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-6">02</h2>
              </div>
            </div>
            <h5 class="u-text u-text-7">Profesores<br>
            </h5>
            <p class="u-text u-text-8">Ofrece tus conocimientos de esa asignatura que se te dio tan bien el año pasado</p>
            <a sec:authorize="isAuthenticated()" th:href="@{/clases/misAnuncios}" class="u-active-none u-border-2 u-border-active-palette-1-dark-3 u-border-hover-palette-1-dark-2 u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-active-palette-5-dark-2 u-text-hover-palette-1-dark-1 u-text-palette-1-base u-btn-2">Mis Anuncios</a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-3">
          <div class="u-container-layout u-similar-container u-container-layout-5">
            <div class="u-align-center u-container-style u-group u-palette-1-base u-radius-50 u-shape-round u-group-3">
              <div class="u-container-layout u-valign-middle u-container-layout-6">
                <h2 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-9">03</h2>
              </div>
            </div>
            <h5 class="u-text u-text-10">Recursos</h5>
            <p class="u-text u-text-11">Entra y mira todo lo que esta gran comunidad puede ofrecerte</p>
            <a sec:authorize="isAuthenticated()" th:href="@{/clases/viewAll}" class="u-active-none u-border-2 u-border-active-palette-1-dark-3 u-border-hover-palette-1-dark-2 u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-active-palette-5-dark-2 u-text-hover-palette-1-dark-1 u-text-palette-1-base u-btn-3">Ofertas de clases</a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-4">
          <div class="u-container-layout u-similar-container u-container-layout-7">
            <div class="u-align-center u-container-style u-group u-palette-1-base u-radius-50 u-shape-round u-group-4">
              <div class="u-container-layout u-valign-middle u-container-layout-8">
                <h2 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-12">04</h2>
              </div>
            </div>
            <h5 class="u-text u-text-13">EHU/UPV</h5>
            <p class="u-text u-text-14">Olvídate de los septiembres. Encuentra cómo afrontar la Universidad de otra manera</p>
            <a sec:authorize="isAuthenticated()" th:href="@{/clases/viewAll}" class="u-active-none u-border-2 u-border-active-palette-1-dark-3 u-border-hover-palette-1-dark-2 u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-active-palette-5-dark-2 u-text-hover-palette-1-dark-1 u-text-palette-1-base u-btn-4">Ofertas de clases</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="u-clearfix u-section-4" id="carousel_607d">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-left-cell u-size-33 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <div class="u-palette-1-light-1 u-shape u-shape-rectangle u-shape-1"></div>
              <img alt="" class="u-align-left u-border-2 u-border-palette-1-base u-image u-image-default u-image-1" data-image-width="617" data-image-height="267" th:src="@{img/logo_ehu.jpg}" src="">
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-right-cell u-size-27 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <h1 class="u-text u-text-1">Únete a esta gran <span style="font-weight: 700;">comunidad</span>
                <span style="font-weight: 700;">de estudiantes</span>
              </h1>
              <p class="u-text u-text-grey-50 u-text-2">Cientos de estudiantes ya están aprovechando esta oportunidad. No pierdas más tiempo: mejora tus resultados y ayuda a mejorar los suyos a los demás. Es el momento de retomar las riendas de tu bagaje académico.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="u-align-center u-clearfix u-image u-shading u-section-5" id="carousel_89a0" data-image-width="800" data-image-height="404">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-custom-font u-font-montserrat u-text u-text-1">Contacta con nosotros</h2>
    <div class="u-align-left u-form u-form-1">
      <div class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" style="padding: 10px;">
        <div class="u-align-center u-form-group">
          <a href="mailto:noreplyaprobadas@gmail.com" class="u-active-grey-40 u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-5-base u-radius-50 u-text-active-white u-text-hover-white u-white u-btn-1">contactar<br>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>