<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>aprobadas - Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
</head>
<body id="image_background">
<main>
    <section class="top"></section>
    <section class="bottom"></section>
    <section class="center">
        <form id="register_form" method="post" th:action="@{/form/register}" th:object="${user}" onsubmit="return validatePassword()">
            <h1><img class="logo" th:src="@{/img/logo.png}" alt="Logo"></h1>
            <input type="text" id="nombre" placeholder="Nombre" th:field="*{nombre}" required />
            <input type="text" id="apellido" placeholder="Apellido" th:field="*{apellido}" required />
            <input type="text" id="tlf" th:field="*{tlf}" placeholder="Tlf: XXX XXX XXX" required/>
            <select name="grado" id="grado" th:field="*{grado}" required>"
                <option selected th:value="0">- Selecciona un grado -</option>
                <option th:each="grado : ${grados}"
                        th:value="${grado.id}"
                        th:text="${grado.nombre}">
                </option>
            </select>
            <input type="email" id="email" th:field="*{email}" th:value="${user.email}" hidden required />
            <input type="password" id="password" th:field="*{password}" placeholder="Contraseña" hidden required/>
            <input type="password" id="re_password" placeholder="Confirme la contraseña" hidden required/>
            <p class="info_message" hidden>La contraseña debe contener al menos 8 caracteres, 1 letra minúscula, 1 mayúscula, 1 número y 1 símbolo.</p>
            <button id="next_button" type="button">Siguiente</button>
            <button id="register_button" type="submit" hidden>Registrarse</button>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script th:src="@{/js/form.js}"> </script>
    </section>
</main>
</body>
</html>