<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>aprobadas</title>
    <link rel="stylesheet" type="text/css" href="css/formulario.css">
</head>
<body>
<main>
    <section class="top"></section>
    <section class="bottom"></section>
    <section class="center">
        <form id="register_form" method="post" th:action="@{/register}" th:object="${usuario}">
            <h1><img class="logo" src="img/logo.png" alt="Logo"></h1>
            <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td><input type="text" placeholder="Nombre" th:field="*{nombre}" required /></td>
                    <td><input type="text" placeholder="Apellido" th:field="*{apellido}" required /></td>
                </tr>
            </table>
            <input type="email" th:field="*{email}" th:value="${email}" required/>
            <input type="password" placeholder="Contraseña" th:field="*{password}" required/>
            <p><button id="login_button" type="submit">Iniciar sesión</button></p>
        </form>
    </section>
</main>
</body>
</html>