<!DOCTYPE html>
<html lang="es" style="font-size: 16px;" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Mis Solicitudes</title>
  <link rel="stylesheet" th:href="@{/css/nicepage.css}" media="screen">
  <link rel="stylesheet" th:href="@{/css/anuncios.css}" media="screen">
  <link rel="stylesheet" th:href="@{/css/star_widget.css}" media="screen">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script class="u-script" type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}" defer=""></script>
  <script class="u-script" type="text/javascript" th:src="@{/js/nicepage.js}" defer=""></script>
  <script class="u-script" type="text/javascript" th:src="@{/js/clases.js}"></script>
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Archivo+Black:400|Gravitas+One:400">
</head>

<body class="u-body">
<header th:replace="fragments/header :: header"></header>

<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_2e21" data-image-width="729" data-image-height="1080">
  <!--- TITULO --->
  <div class="u-align-center u-container-style u-expanded-width u-group u-palette-1-light-1 u-shape-rectangle u-group-1">
    <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1">
      <h1 class="u-text u-text-1">MIS SOLICITUDES</h1>
    </div>
  </div>

  <!--- MIS SOLICITUDES --->
  <div class="u-list u-list-1 solicitudes">
    <div class="u-repeater u-repeater-1">
      <div th:each="solicitud : ${solicitudes}" class="u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-1">
        <div class="u-container-layout u-similar-container u-container-layout-2">
          <h5 class="u-text u-text-2" th:text="${solicitud.oferta.asignatura.nombre}"></h5>
          <a th:href="@{/clases/eliminarSolicitud/{id}(id = ${solicitud.id})}"  class="u-active-palette-1-light-1 u-border-2 u-border-active-palette-1-light-1 u-border-hover-palette-1-light-1 u-border-palette-1-light-1 u-btn u-btn-round u-button-style u-custom-font u-heading-font u-hover-palette-1-light-2 u-none u-radius-50 u-text-active-white u-text-hover-white u-text-palette-1-base u-btn-1">ELIMINAR</a>
          <h5 class="u-text u-text-3">Profesor/a: <a class="link-perfil" th:href="@{/user/perfilUser/{id}(id = ${solicitud.oferta.profesor.id})}"><span style="font-weight: normal" th:text="${solicitud.oferta.profesor.nombre} + ' ' + ${solicitud.oferta.profesor.apellido}"></span></a></h5>
          <p class="u-align-justify u-text u-text-4" th:if="${solicitud.accepted}">Estado: ACEPTADA</p>
          <p class="u-align-justify u-text u-text-4" th:if="${!solicitud.accepted}">Estado: PENDIENTE</p>
          <!--- ESTRELLITAS --->
            <div th:if="${solicitud.valoracion == 0} and ${solicitud.accepted == true}" class="star-container">
              <div class="star-widget">
                <form method="GET" th:action="@{/clases/valorarSolicitud}" class="star-form">
                  <input type="hidden" name="id" th:value="${solicitud.id}">
                  <input type="radio" name="rate" id="rate-5" value="5">
                  <label for="rate-5" class="fa fa-star"></label>
                  <input type="radio" name="rate" id="rate-4" value="4">
                  <label for="rate-4" class="fa fa-star"></label>
                  <input type="radio" name="rate" id="rate-3" value="3">
                  <label for="rate-3" class="fa fa-star"></label>
                  <input type="radio" name="rate" id="rate-2" value="2">
                  <label for="rate-2" class="fa fa-star"></label>
                  <input type="radio" name="rate" id="rate-1" value="1">
                  <label for="rate-1" class="fa fa-star"></label>
                  <button type="submit" class="u-active-palette-1-light-1 u-border-2 u-border-active-palette-1-light-1 u-border-hover-palette-1-light-1 u-border-palette-1-light-1 u-btn u-btn-round u-button-style u-custom-font u-heading-font u-hover-palette-1-light-2 u-none u-radius-50 u-text-active-white u-text-hover-white u-text-palette-1-base u-btn-1">Valorar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>